
.logohelado{
	width: 25%;
	margin-left: 5%;

}
.titulo{
	margin-top: 5%;
	text-align: center;
	color: purple;
}
.imagenuno{
	width: 100%;
	border-radius: 20px;

}
.parrafouno{
	text-align: center;
	margin-left: 5%;
}
.botonuno{
	display: block;
	margin:auto;
	margin-top: 10%;
}
.subtitulouno{
	color: green;
	font-size: 40px;
	text-align: center;
	margin-top: 10%;
}
.subtitulodos{
	color: green;
	font-size: 40px;
	text-align: center;
	margin-top: 5%;
}
.parrafopreparacion{
	text-align: center;
	margin-left: 10%;
	margin-top: 5%;
}
.parrafobeneficios{
	text-align: center;
	margin-right: 3%;
	margin-top: 2%
}
.imagenbeneficios{
	width: 80%;
	margin-left: 5%;
	margin-top: 7%;
	border-radius: 15px;
}
.imagenpreparacion{
	border-radius: 15px;
	margin-left: 80px;
	margin-top: 5%;
	
}
#iconos{
	color: black;
	background-color: pink;
	margin-top: 5%;
}
.imagen1vermas{
	width: 100%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 25px;
}
.parrafo1vermas{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}
.parrafo2vermas{
	margin-left: 5%;
	margin-top: 3%;
}
#chochos{
	width: 30%;
	display: block;
	margin:auto; 
	margin-left: 5%;
	margin-top: 3%;
}
#copa{
	width: 30%;
	display: block;
	margin:auto;
	margin-top: 3%;
}
#oso{
	width: 30%;
	display: block;
	margin:auto;
	margin-top: 3%;
}
#fondo2{
	background-color: #E0FFFF;
}
#fondo1{
	background-color: #FFF0F5;
}